# Write build outputs in a platform-specific directory;
# avoid outputs being wiped and rewritten when switching between platforms.
common --experimental_platform_in_output_dir
common --enable_platform_specific_config
# Use a symlink prefix to avoid clobbering the workspace root.
build --symlink_prefix=.bazel/
# rules_rust tests need runfiles; Windows defaults this off.
common --enable_runfiles
